---
title: Bytes
eleventyExcludeFromCollections: true
layout: 'layouts/full_width.njk'
---

<h1>Bytes</h1>

{% set currYear = "" %}
{% for byte in collections.bytes %}
  {% set pubYear = byte.data.publicationDate.substring(0, 4) %}
  {% if pubYear != currYear %}
    <h2>{{ pubYear }}</h2>
    {% set currYear = pubYear %}
  {% endif %}
  <div class="flex flex-col">
    <h3><a href="{{ byte.url }}">{{ byte.data.title }}</a></h3>
    <small>Published: {{ byte.data.publicationDate | parseDate | formatDateFull }}</small>
  </div>
{% endfor %}
