<!doctype html>
<html lang="en">
{% include "partials/head.njk" %}
<body>

{% block header %}
{% include "partials/header.njk" %}
{% endblock %}

{% block content %}
<main class="p-6 lg:px-8 max-w-4xl mx-auto">
  {{ content | safe }}
</main>
{% endblock %}

{% block footer %}
<footer
  class="px-6 lg:px-8 py-10 max-w-4xl mx-auto flex flex-col sm:justify-between sm:items-center sm:flex-row border-t">
  <a href="{{ site.githubRepoUrl }}/edit/main/{{ page.inputPath }}" target="_blank">
    Edit this page on GitHub <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
  <span class="text-sm">Last Updated: {% tsFormat page.date %}</span>
</footer>
{% endblock %}

</body>
</html>
