<!doctype html>
<html lang="en">
{% include "partials/head.liquid" %}
<body>
{% include "partials/header.liquid" %}
<main class="p-6 lg:px-8 max-w-4xl mx-auto">
  {{ content }}
  {% include 'partials/github-footer.liquid' %}
</main>
</body>
</html>
