{% extends 'src/_includes/layouts/full_width.njk' %}

{% block footer %}
<footer
  class="px-6 lg:px-8 py-10 flex flex-col sm:justify-center sm:items-center sm:flex-row border-t">
  <span>Copyright 2020-{% currentYear %} Samer Kanjo.&nbsp;</span>
  <span>All rights reserved.</span>
</footer>
{% endblock %}
