---
layout: layouts/base
topLevelMenu: Man
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/man/">Man</a></li>
    <li class="breadcrumb-item"><a href="/man/terminal-command/">Terminal Commands</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

{{ content | safe }}
