---
layout: layouts/base
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/docs/">Docs</a></li>
    <li class="breadcrumb-item"><a href="/docs/terminal-command/">Terminal Commands</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>

{{ content }}
