/* Add here all your CSS customizations */

.social-icons li:hover.social-icons-github a {
	background: #171515;
}

.social-icons li:hover.social-icons-twitter a {
	background: #00acee;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #2867B2;
}

