---
layout: base
title: "Home"
topLevelMenu: Home
---

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This site is a work in progress evolving day-by-day establishing
    structure, designing a look and feel, and writing initial content. The structure
	of the site is more or less defined and this is what you can expect:</p>
	<ul>
		<li>Blog - just what you would expect</li>
		<li>Guides - Higher level coverage of a topic without step-by-step instruction</li>
		<li>Tutorials - Step-by-step instruction of a topic</li>
		<li>Man - Explanation and example usage of operations</li>
		<li>Projects - List of personal projects</li>
	</ul>
  </div>
</div>
