      <footer id="footer">
        <div class="container">
          <div class="row py-5">
            <div class="col text-center">
              <ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
                <li class="social-icons-github"><a href="{{ site.author.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a></li>
                <li class="social-icons-twitter"><a href="{{ site.author.twitter }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a href="{{ site.author.linkedin }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container py-2">
            <div class="row py-4">
              <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                <a rel="license" class="logo pr-0 pr-lg-3" href="http://creativecommons.org/licenses/by/4.0/">
                	<img alt="Creative Commons License" class="opacity-5" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
              </div>
              <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
				<p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
				</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
