<hr class="light-100">
<footer class="site bg-light">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6  col-lg-4 site-footer-col-1">
				<img src="/img/xorshift-196.png" width="48" height="48" class="float-left" alt=""><h2>Samer Kanjo</h2>
				<a href="{{ site.author.github }}" target="_blank"><i class="fab fa-github"></i></a>
				<a href="{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4 site-footer-col-2">
				<h3>Made with <i class="fas fa-heart"></i> Using</h3>
				<ul>
					<li><a href="https://11ty.dev/" target="_blank">Eleventy</a></li>
					<li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
					<li>Bare hands</li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4 site-footer-col-3">
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
			</div>
		</div>
	</div>
</footer>
