<footer class="flex flex-col sm:justify-between sm:items-center sm:flex-row py-4">
  <a href="{{ site.githubRepoUrl }}/edit/main/{{ page.inputPath }}" target="_blank">
    Edit this page on GitHub <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
  <span class="text-sm">Last Updated: {% tsFormat page.date %}</span>
</footer>
