<header>
  <h1><a href="/"><img src="/img/xorshift-196.png" width="64" height="64" alt="goto home page"></a> {{ title }}</h1>
</header>

<nav>
  <ul>
    <li><a href="/Docs/">Docs</a></li>
    <li><a href="/About/">About</a></li>
  </ul>
</nav>
