<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="copyright" content="Copyright 2020-{% currentYear %} Samer Kanjo. All rights reserved.">
  <meta name="x-site-version" content="{{ pkg.version }}">

  <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/prism-darcula.css">

  <link rel="stylesheet" href="/fonts/inter/index.css">
  <link rel="stylesheet" href="/fonts/roboto-serif/index.css">
  <link rel="stylesheet" href="/fonts/roboto-mono/index.css">

  <script src="/js/htmx.js" defer></script>
  <script src="/js/alpine.js" defer></script>
</head>
