<header>
  <div>
    <a href="/">Samer Kanjo</a>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/reference/">Reference</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </div>
</header>
