{% if page.url contains path %}
  <a class="text-black hover:no-underline text-red-700" href="{{ path }}">{{ name }}</a>
{% else %}
  <a class="text-black hover:no-underline hover:text-red-700" href="{{ path }}">{{ name }}</a>
{% endif %}
