<header x-data="{ navMenuOpen: false }">
  <div id="mainMenu" class="flex justify-between items-center p-6 lg:px-8 border-b">
    <a class="flex items-center gap-x-4 text-black hover:no-underline" href="/">
      <img class="w-12 h-12 rounded-full" src="/img/logo.png"/>
      <span class="text-2xl font-semibold">Samer Kanjo</span>
    </a>
    <div class="hidden md:flex justify-between items-center">
      <nav class="flex justify-between items-center gap-x-8 text-md">
        {% include "partials/nav_items.njk" %}
      </nav>
      {% include "partials/social_links.njk" %}
    </div>
    <button @click="navMenuOpen = !navMenuOpen" class="flex md:hidden">
      {% iconHamburger "w-5 inline" %}
    </button>
  </div>
  <div id="mobileMenu" x-show="navMenuOpen"
       class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto ring-1 ring-gray-100 bg-white">
    <div class="flex items-center justify-between p-6 border-b">
      <a class="flex items-center gap-x-4 text-black hover:no-underline" href="/">
        <img class="w-12 h-12 rounded-full" src="/img/logo.png"/>
        <span class="text-2xl font-semibold">Samer Kanjo</span>
      </a>
      <button @click="navMenuOpen = !navMenuOpen" class="flex flex-col">
        {% iconXmark "w-4 inline" %}
      </button>
    </div>
    <div class="flex flex-col">
      <nav class="flex flex-col px-6 pt-6 gap-y-4">
        {% include "partials/nav_items.njk" %}
      </nav>
      {% include "partials/social_links.njk" %}
    </div>
  </div>
</header>
