<div
  class="flex items-center gap-x-4 pt-3 pl-6 mt-3 border-t md:pt-0 md:pl-4 md:mt-0 md:ml-4 md:border-t-0 md:border-l">
  <a href="{{ site.author.github }}" target="_blank">
    {% iconGitHub "w-5 inline" %}
  </a>
  <a href="{{ site.author.leetcode }}" target="_blank">
    {% iconLeetCode "w-5 inline" %}
  </a>
  <a href="{{ site.author.bluesky }}" target="_blank">
    {% iconBluesky "w-5 inline" %}
  </a>
  <a href="{{ site.author.linkedin }}" target="_blank">
    {% iconLinkedIn "w-5 inline" %}
  </a>
</div>
